fastapi
uvicorn[standard]
python-multipart
passlib[bcrypt]
python-jose[cryptography]
pymysql
pymilvus
sentence-transformers
redis
requests
mysql-connector-python
python-dotenv
bilibili-api-python
pandas
jieba
scikit-learn
numpy
uvloop
httptools 